.container {
    display: flex;
    height: 7vh;
    align-items: center;
    background-color: var(--blue);

    .logo {
        // border: 2px solid white;
        width: 17.5rem;
        height: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 16rem;

        h2 {
            // padding: 16rem;
            color: var(--white);
            font-size: 1.4rem;
        }
    
        img {
            width: 2rem;
            height: 2rem;
        }
      }
}