.container {
    display: flex;
    height: 100vh;

    .storesContainer {
        display: flex;
        flex-direction: column;
        width: 46rem;
        height: 40rem;
        padding: 2rem;
    }

    .billingContainer {
        display: flex;
        flex-direction: column;
        width: 46rem;
        height: 40rem;
    }
}